<section id="book-a-table" class="book-a-table">
    <div class="container aos-init aos-animate" data-aos="fade-up">
      <div class="section-header header">
        <p>My <span>Heores</span></p>
        <label for="new-hero">Hero name: </label>
        <input id="new-hero" #heroName />
    
        <!-- (click) passes input value to add() and then clears the input -->
        <button type="button" class="btn-book-a-table" (click)="add(heroName.value); heroName.value=''">
          Add hero
        </button>
      </div>
    <div class="row g-0">
      <div class="col-lg-4"  >
        <app-messages></app-messages>
      </div>
      <div class="col-lg-6 align-items-center">
        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="row gy-4">
            <div>
              <ul class=" bx-ul">
                <li *ngFor="let hero of heroes">
                  <div class="section-header header">
                    <p >
                      <a routerLink="/detail/{{hero.id}}"><span>{{hero.id}}</span> {{hero.name}}</a> 
                      <span>
                        <button type="button" class="btn-book-a-table" title="delete hero"(click)="delete(hero)">delete</button>
                      </span>
                      
                    </p>
                    <!-- <a routerLink="/detail/{{hero.id}}"><span>{{hero.id}}</span> </a>{{hero.name}} -->
                    <!-- <button type="button" class="btn-book-a-table" title="delete hero"(click)="delete(hero)">X</button> -->
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
  </section>
  
  