<div class="section-header">
  <p>
    Top <span>Heroes</span>
  </p>
</div>
<!--The *ngFor repeater creates as many links as are in the component's heroes array.-->
  
<div class="heroes-menu">
    <a *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">{{hero.name}}</a>
</div>

<app-hero-search></app-hero-search>
<app-messages></app-messages>
  
  
  
  

  
  
  