<section class="menu">
    <div *ngIf="hero" class="header section-header ">
  
      <h2>{{hero.name | uppercase}} Details</h2>
      <div class="menu-item">
        <div class="price"><span>#id: </span>{{hero.id}}</div>
        <div class="ingredients">
          <label for="hero-name">Hero name: </label>
          <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
        </div>
        
      </div>
  
        <button type="button" (click)="goBack()" class="btn-book-a-table">go back</button>
        <button type="button" (click)="save()" class="btn-book-a-table">save</button>
  </div>
  <app-messages></app-messages>
  </section>
  
  
  
  <!-- <section id="book-a-table" class="book-a-table">
    <div class="container aos-init aos-animate" data-aos="fade-up">
  
      
  
      <div class="row g-0">
  
        <div class="col-lg-4 reservation-img aos-init aos-animate"  data-aos="zoom-out" data-aos-delay="200">
          <app-messages></app-messages>
        </div>
  
        <div class="section-header">
          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                <div *ngIf="hero" class="header section-header tab-content">
    
                  <h2>{{hero.name | uppercase}} Details</h2>
                  <div class="menu-item">
                    <div class="price"><span>#id: </span>{{hero.id}}</div>
                    <div class="ingredients">
                      <label for="hero-name">Hero name: </label>
                      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" name="hero-name">
                    </div>
                    
                  </div>
              
                    <button type="button" (click)="goBack()" class="btn-book-a-table">go back</button>
                    <button type="button" (click)="save()" class="btn-book-a-table">save</button>
              </div>
                
                
                
               
                
              </div>
              
            </form>
          </div> End Reservation Form -->
        <!-- </div>
       
  
      </div>
  
    </div>
  </section> -->
  
  