

<section id="menu" class="menu section-bg">
  <div class="section-header">
    <h2></h2>
    <p>
      Angular <span>{{title}}</span>
    </p>
  </div>
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <ul class="nav nav-tabs d-flex justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" role="tablist">

      <li class="nav-item" role="presentation">
       
        <a routerLink="/heroes" class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-starters" aria-selected="false" role="tab" tabindex="-1">
          <h4>Heroes</h4>
        </a>
      </li>
      <!-- End tab nav item -->

      <!-- <li class="nav-item" role="presentation">
        <a routerLink="/admin" class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast" aria-selected="false" role="tab" tabindex="-1">
          <h4>Admin</h4>
        </a>
      </li> -->
      <!-- End tab nav item -->

      <li class="nav-item" role="presentation">
        <a routerLink="/dashboard" class="nav-link active" data-bs-toggle="tab" data-bs-target="#menu-lunch" aria-selected="false" role="tab" tabindex="-1">
          <h4>Dashboard</h4>
        </a>
      </li>
      
      <!-- End tab nav item -->

      <!-- <li class="nav-item" role="presentation">
        <a routerLink="/gallery" class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner" aria-selected="true" role="tab">
          <h4>Gallery</h4>
        </a>
      </li> -->
      <!-- End tab nav item -->

    </ul>

    

  </div>
</section>

<!-- <app-heroes></app-heroes> -->
<!-- <app-hero-detail></app-hero-detail> -->


<router-outlet></router-outlet>

<!-- <app-messages></app-messages> -->

<app-loader></app-loader> 