
<section>
        <div *ngIf="messageService.messages.length">
                <div class="header mt-5">
                        <button class="btn-book-a-table" 
                        (click)="messageService.clear()">
                                Clear Messages
                        </button>
                </div>
                <div class="section-header">
                        <div *ngFor='let message of messageService.messages' (hidden)="show=false"> 
                                <ngb-toast *ngIf="show" header="messages" [autohide]="false"  >
                                        {{message}}
                                </ngb-toast>
                        </div>
                </div>
        </div>
</section>