<div class="section-header">
    <div id="search-component">
      <label for="search-box">Hero Search<i class='bx bxs-zoom-in bx-md bx-tada'></i></label>
      <input #searchBox id="search-box" (input)="search(searchBox.value)" />
    
      <ul class="search-result">
        <li *ngFor="let hero of heroes$ | async" >
          <a routerLink="/detail/{{hero.id}}">
            {{hero.name}}
          </a>
        </li>
      </ul>
  </div>
  </div>